body{
    background-color: #323d9939;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

caption{
    border-bottom: 5px solid maroon;
    font-size: 75px;
    margin-bottom: 3%;
}


button:hover {
    cursor: pointer;
}

td {
    background: ghostwhite;
}

#header{
    position: relative;
    height: 3.5em;
    border-bottom: 3px solid black;
    background-color: #4b75de;
    background: linear-gradient(to top, #4b75de, #5358e5af);
}


#mainBlock{
    padding-left: 0.7%;
    padding-top: 0.4%;
}

#main {
    color: white;
    font-size: 180%;
    text-shadow: black 2px 3px 4px;
    font-family: "Times New Roman",Georgia,Serif;
}

#searchForm{
    position: relative;
    left: 89%;
    bottom: 50%;
}

#exitButton {
    position: relative;
    left: 96.5%;
    bottom: 46%;
}

#exitButton:hover {
    color: white;
}


.tables {
    border: 3px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

a {
    text-decoration: none;
}

#actionBlock {
    width: 12em;
    height: 300em;
    border-right: 1px solid black;

}


#buttonsActionBlock {
    position: relative;
    top: 6%;
}

.actionButtons {
    margin-bottom: 25%;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    transition: 0.7s;
}

.actionButtons:hover {
    -webkit-box-shadow: 3px 15px 18px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 15px 18px -6px rgba(0,0,0,0.7);
    box-shadow: 3px 15px 18px -6px rgba(0,0,0,0.7);
}