#addForm{
    position: relative;
    width: 20%;
    padding: 1%;
    left: 15em;
    bottom: 280.2em;
}

#addForm td {
    background: none;
    border-bottom: none;
}

.classNetworkTd:hover{
    cursor: pointer;
}

.classNetworkDescriprion{
    cursor: pointer;
}