
#main_table{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 150%;
}

#addForm{
    border: 2px solid black;
    width: 20%;
    padding: 1%;
}


#addFormTable td {
    border-bottom: none;
}

td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 15px 25px;
}

a {text-decoration: none}