caption{
    border-bottom: 5px solid maroon;
    font-size: 460%;
}

.tables{
    position: relative;
    border-right: 3px solid black;
    top: 120px;
    display: inline-table;
    margin-right: 10em;
}

#addForm{
    border: 2px solid black;
    width: 20%;
    padding: 1%;
}


td {
    border-bottom: 1px solid black;
    font-size: 35px;
    padding: 15px 25px;
}



a {
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
}

a:hover {
    color: #4b75de;
    transition-delay: 50ms;
}

#addRegion{
    position: relative;
}

#geokod_table {
    position: relative;
    left: 91%;
    bottom: 28em;
    border: 3px solid black;
    border-collapse: collapse;
}

#geokod_table a {
    width: 15%;
}

#geokod_table td{
    font-size: 110%;
    padding: 10px 20px;
}
