body{background-color: #323d9939;}

#main_table{
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 150%;
}

#addForm{
    position: relative;
    border: 2px solid black;
    width: 20%;
    padding: 1%;
}