
#addForm {
    position: relative;
    left: 15em;
}


td:nth-child(1){
    color: #c95d10;
    font-weight: bold;
    text-shadow: black -0.6px 0.5px 1.5px;

}

td:nth-child(2){
    font-family: "Times New Roman",Georgia,Serif;
    font-weight: bold;
}


a {
   text-decoration: none;
}


.descriptions{
    cursor: pointer;
}