{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/basic_style.css">
    {% block style %}

    {% endblock %}

</head>
<body>
    {% if messages %}
        <ul class="messages" id="messageBlock">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close" id="closeMessageButton">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="header">
        <div id="mainBlock">
            <a id="main" href="{% url 'region_page' %}">Главная</a>
        </div>


        <form method="get" id="searchForm" action="{% url "search_view" %} ">
            <input type="search" id="q" name="q">
        </form>
        <div id="extendedButtonBlock">
            <a href="{% url 'configGenerate' %}"> Генератор конфига </a> /
            <a id="exitButton" href="{% url 'logout' %}"> Выйти </a>
        </div>
    </div>

    {% block content %}
    {% endblock %}


    <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous"></script>
    <script src="/static/JS/JS_for_basic_page.js"></script>
    {% block script_and_style %}
    {% endblock %}
</body>
</html>