{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/basic_style.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
</head>
<body>

    {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}" id="messageBlock">
                    {{ message|safe }}
                        <a href="#" class="close" id="closeMessageButton">✖</a>
                </div>

            {% endfor %}
    {% endif %}


    <div id="header">
        <div id="mainBlock">
            <a id="main" href="{% url 'region_page' %}">Главная</a>
        </div>
    </div>

    <div id="actionBlock">
        {% block navigation %}

        {% endblock %}

        <div id="buttonsActionBlock">
            {% block actionButtons %}

            {% endblock %}
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <table id="main_table" class="tables">
        {% block table_content %}

        {% endblock %}
    </table>



    <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous">

    </script>
    <script src="/static/JS/JS_for_basic_page.js"></script>
    {% block script_and_style %}
    {% endblock %}
</body>
</html>