{% extends 'web_net/basic_table.html' %}
    {% block script_and_style %}
        <link rel="stylesheet" href="/static/css/network_style.css">
        <script src="/static/JS/JS_for_network_page.js"></script>
    {% endblock %}




    {% block actionButtons %}
        <button class="actionButtons" id="addNetwork" name="addNetworkButton">Добавить сеть</button>
    {% endblock %}





    {% block content %}

        <div id="networkForm">
            <form method="post" id="addForm">
                {% csrf_token %}
                <table id="addFormTable">
                {{ form.as_table }}
                </table>
                <input type="submit" value="Сохранить">
            </form>
        </div>
    {% endblock %}



    {% block table_content %}
            {% if networks_for_region %}
            <caption> {{ region_object.name }} </caption>
            {% for network in networks_for_region  %}
                <tr>
                    <td> <a href={% url 'address' region_id network.id %}> {{ network.network }}</a> </td>
                    <td>{{ network.description }} </td>
                    <td><a href={% url 'vlans' region_id %}>{{ network.vlan_reletionship|default_if_none:"---" }}</a></td>
                </tr>
            {% endfor %}
            {% endif %}
    {% endblock %}
