{% extends 'web_net/basic.html' %}

    {% block style %}
        <link rel="stylesheet" href="/static/css/region_style.css">
    {% endblock %}

    {% block script_and_style %}
        <script src="/static/JS/JS_for_region_page.js"></script>
    {% endblock %}

    {% block content %}


        <table id="core_table" class="tables">
            <caption>Ядро</caption>
            {% for region_core in regions_core %}
                <tr>
                    <td> <a id="name" href={% url 'choise_page' region_core.id%}> {{ region_core.name }}</a> </td>
                </tr>
            {% endfor %}
        </table>



        <table id="pat_table" class="tables">
            <caption>Другое</caption>
            {% for region_other in regions_other %}
                <tr>
                    <td> <a id="name" href={% url 'choise_page' region_other.id%}> {{ region_other.name }}</a> </td>
                </tr>
            {% endfor %}
        </table>

        <table  id="geokod_table">
            {% for region_pat in regions_pat %}
                <tbody class="geokodObject">
                    <tr>
                        <td class="geokodObject">{{ region_pat.geokod }}</td>
                        <td class="geokodObject"> <a id="name" href={% url 'choise_page' region_pat.id%}> {{ region_pat.name }}</a> </td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>



    {% endblock %}

