{% extends 'web_net/basic_table.html' %}
    {% block script_and_style %}
        <link rel="stylesheet" href="/static/css/vpnPool_address_style.css">
        <script src="/static/JS/JS_for_vpnPool_address_page.js"></script>
    {% endblock %}


    {% block navigation %}
        <a href="{% url "vpnPool" %}"> VPN-пулы </a>
        <p>Сеть: {{ network_object.pool }} </p>
        <p>Имя сети: {{ network_object.description|default_if_none:"---"}}</p>
        <p>Классовая сеть: {{ network_object.classNetwork_reletionship|default_if_none:"---"}}</p>
    {% endblock %}

    {% block actionButtons %}

        <div>
            <div id="changeNetworkButtonBlock">
                <button class="actionButtons" id="changeNetwork" name="changeNetworkButton">Изменить сеть</button>
            </div>
            <div class="oneStringBlock" id="changeNetworkBlock">
                <form method="post" id="changeNetworkForm">
                {% csrf_token %}
                {{ changeNetworkForm.as_p }}
                 <input class="oneStringButton" type="submit" value="Сохранить" name="changeNetworkFormSubmit">
                 </form>
            </div>
        </div>

        <div>
            <div id="descriptionNetworkButtonBlock">
                <button class="actionButtons" id="descriptionNetwork" name="descriptionNetworkButton">Смена имени сети</button>
            </div>
            <div class="oneStringBlock" id="descriptionNetworkBlock">
                <form method="post" id="changeDescriptionForm">
                     {% csrf_token %}
                     {{ changeDescriptionNetwork.as_p }}
                     <input class="oneStringButton" type="submit" value="Сохранить" name="changeDescriptionFormSubmit">
                 </form>
            </div>
        </div>

        <div>
            <div id="classNetworkButtonBlock">
                <button class="actionButtons" id="classNetwork" name="classNetworkButton"> Классовая сеть</button>
            </div>

            <div class="oneStringBlock" id="changeClassNetworkBlock">
                <form method="post" id="changeClassNetworkForm">
                    {% csrf_token %}
                    {{ changeClassNetworkReletionshipForm.as_p }}
                    <input class="oneStringButton" type="submit" value="Сохранить" name="changeClassNetworkFormSubmit">
                </form>
            </div>
        </div>

        <div id="delButtonBlock">
            <form method="post" id="delButton">
                {% csrf_token %}
                <button type="submit" class="actionButtons" id="delNetButton" name="delNetButton">Удалить сеть</button>
            </form>
        </div>

    {% endblock %}




    {% block content %}


    {% endblock %}


    {% block table_content %}
            {% if address_for_network %}
            {% for address in address_for_network %}
                <tbody>
                    <tr>
                        <td> {{ address.ip_address }}</td>
                        <td id="{{ address.id }}" class="descriptions" data-objectId="{{ address.id }}"> {{ address.description|default_if_none:"---" }}</td>
                    </tr>
                </tbody>
            {% endfor %}
            {% endif %}
    {% endblock %}