{% extends 'web_net/basic_table.html' %}

    {% block script_and_style %}
        <link rel="stylesheet" href="/static/css/vpnPool_style.css">
        <script src="/static/JS/JS_for_vpnPool_page.js"></script>
    {% endblock %}

    {% block actionButtons %}
        <div>
            <div>
                <button class="actionButtons" id="addPool" > Добавить VPN-пул </button>
            </div>
            <div class="oneStringBlock">
                <form method="post" id="addPoolForm">
                    {% csrf_token %}
                    {{ form_vpnPool.as_p }}
                    <input class="oneStringButton" name="addPoolButton" type="submit" value="Сохранить">
                </form>
            </div>
        </div>
    {% endblock %}

    {% block content %}

    {% endblock %}



    {% block table_content %}
        {% if all_vpnPool %}
            <caption> VPN-пулы </caption>
                {% for vpnPool in all_vpnPool  %}
                    <tr>
                        <td> <a href="{% url 'vpnPoolAddress' vpnPool.id %}"> {{vpnPool.pool}} </a> </td>
                        <td> {{vpnPool.description|default_if_none:"---" }} </td>
                    </tr>
                {% endfor %}
        {% endif %}
    {% endblock %}

